<% if logged_in? %>
    <div class="row main_body">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>Hi <%= current_user.name %>!</h1>

          <%= image_tag('SquadLogo2.png', size:"250x250", id: "logo") %>

        </section>
      </aside>
      <div class="col-md-8 jumbotron moved_left">
        <h2>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <%= link_to "Create a Squad", new_user_squad_path(current_user.id) %>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </h2>
        <h2>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <%= link_to "Assemble a SquadRun", get_ride_path %>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </h2>
        <h2>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <%= link_to "See All Squads", squadrun_all_path(current_user.id) %>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </h2>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">

      <h1>Welcome to Squad</h1>

      <h2>
        This is the home page for
        <a href="#">Squad</a>
      </h2>

      <%= link_to "Sign in with Uber", 'https://login.uber.com/oauth/v2/authorize?client_id=' + Rails.application.secrets.uber_client_id + '&response_type=code&scope=profile places history ride_widgets request', class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
